*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 
.container{
    width: 50vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    border: 3px solid greenyellow;
}
.container h2{
    margin :30px;
}
.counter{
    width: 30%;
    display: flex;
    justify-content: center;}

#decrement-btn{
    height: 50px;
    width: 120px;
    padding: 0 40px;
    margin: 20px;
    font-size: 40px;
    border-radius: 10px;
    border: 2px solid #2e2e2e;
    color:black;
    background-color: burlywood;

}
#reset{
    height: 50px;
    width: 120px;
    padding: 0 40px;
    margin: 20px;
    font-size: 20px;
    border-radius: 10px;
    border: 2px solid #2e2e2e;
    color:black;
    background-color: burlywood;

}

#increment-btn
{
    height: 50px;
    width: 120px;
    padding: 0 40px;
    margin: 20px;
    font-size: 40px;
    border-radius: 10px;
    border: 2px solid #2e2e2e;
    color:black;
    background-color: burlywood;

}
#counter-value{

    height: 50px;
    min-width: 120px;
    border-radius: 10px;
    background-color: aliceblue;
    margin-top: 20px;
    font-size: 30px;
    display:flex;
    justify-content: center;
    align-items: center;

}
  #shiv{
    width: 50vw;
    height: 40vh;
    margin-left: 27%;
    margin-top: 10%;

   
  }